<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{ books_detail_object.title}}- {{ books_detail_object.year }}</h3>
    <h3>{{books_detail_object.subtitle}}</h3>
    <h4>{{books_detail_object.description}}</h4>
    <h3>{{books_detail_object.price}}</h3>
    <h3>{{books_detail_object.genre}}</h3>
    <h4>{{books_detail_object.author}}</h4>
</body>
</html>