<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h3>Загаловок </h3>
        <input type="text" name="title" placeholder="Загаловок">
        <h3>Подзагаловок</h3>
        <input type="text" name="subtitle" placeholder="Подзагаловок">
        <h3>Описание</h3>
        <input type="text" name="description" placeholder="Описание">
        <!-- <h2><input type="number" name="prise" placeholder="Цена"></h2>
        <h2><input type="text" name="genre" placeholder="Жанр"></h2>
        <h2><input type="text" name="author" placeholder="Автор"></h2>
        <h2><input type="datetime-local" name="year" placeholder="Год"></h2> -->
    </form>
</body>
</html>